:root {
    --background-first-color: #ffffff;
    --background-collective-color: #FFFFFF;
    --background-two-color: #2F303A;
    --background-footer: #2F303A;
    --background-hero: #2F303A;
    --background-collective: #F5F4FA;
    --bg-logo-active-color: #2196F3;
    --feader-logo-color: #000000;
    --font-first-color: #212121;
    --font-two-color: #757575;
    --font-hero-btn: #FFFFFF;
    --font-active-color: #ffffff;
    --footer-logo-color: #FFFFFF;
    --address-color: #FFFFFF;
    --border-color: #EEEEEE;
    --icon-fill: #AFB1B8;
}